<div style="margin-top: 40px;">
  <app-header></app-header>
</div>
<div class="container">
  <div class="card shadow-lg ">
    <div class="card-header">PARAMETRAGE DES BORNES</div>
    <div class="card-body">
      <div >
        <div>
          <a routerLink="/admin/caracteristiques"  role="button" class="btn btn-success  btn-block" > &nbsp; Gestion &nbsp; des &nbsp; Caracteristiques</a>
          <p style="margin-top: 4px;"></p>
          <a routerLink="/admin/baremes"  role="button" class="btn btn-success  btn-block" >
            <span style="margin-right: 50px;">&nbsp; Gestion &nbsp; des &nbsp; Baremes</span>
          </a>
          <p style="margin-top: 4px;"></p>
          <a routerLink="/admin/adminitration"  role="button" class="btn btn-success  btn-block" >
            <span style="margin-left: 10px;">&nbsp; Administration &nbsp; et &nbsp; Paramètrage</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


