<header>
  <div class="container">
    <div class="" style=" background-color: #FFFFFF;padding-left: 25px;padding-right: 25px;margin-bottom: 30px;">
      <div class="row">
        <img class="img-responsive center-block" alt="" src="https://hetraonline.impots.mg/assets/images/republik.jpg"
             style="padding-bottom:25px; display: block;
               margin-right: auto;
               margin-left: auto;" />
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-4">

          <div class="navi pull-left">
            <img src="https://hetraonline.impots.mg/assets/images/logo-mfb.png"    style="width: 99px;height: 87px;">
            <img src="https://hetraonline.impots.mg/assets/images/logo-dgi-2017.png"  style="width: 99px;height:87px;">
          </div>


        </div>

          </div>
        </div>
      </div>
</header>
