<div class="panel panel-warning" >
  <div class="panel-heading">
    <H1>Adminitration et parametrage</H1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-8">
        <table class="table  table-condensed table-striped table-bordered table-hover ">
          <thead>
          <tr>
            <td>code</td>
            <td>nom</td>
            <td>abbreviation</td>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{parametrage?.centre?.codeBur}}
            <td>{{parametrage?.centre?.nomCF}}
              </td>
            <td>{{parametrage?.centre?.abbrevCF}}
              </td>

          </tr>
          </tbody>

        </table>
      </div>
      <div class="col-sm-4">
        <table class="table  table-condensed table-striped table-bordered table-hover ">
          <thead>
          <tr>
            <td>Code</td>
            <td>nom</td>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{parametrage?.centre?.categorie?.code}}
            <td>{{parametrage?.centre?.categorie?.nom}}</td>

          </tr>
          </tbody>

        </table>
      </div>

    </div>
    <table class="table  table-condensed table-striped table-bordered table-hover ">
         <thead>
         <tr>
           <td>Centre</td>
           <td>abattement</td>
           <td>taux IS</td>
           <td>action</td>
         </tr>
         </thead>
         <tbody>
         <tr>
           <td>{{parametrage?.centre?.codeBur}}
           <td>{{parametrage?.abattement}}
           %</td>
           <td>{{parametrage?.tauxIS}}
           %</td>
           <td>
             <button (click)="changer()"   class="btn btn-warning "><i class="fa fa-edit"></i>Editer</button>
           </td>
         </tr>
         </tbody>

    </table>
    <form *ngIf="!isCliked" class="form-inline" #param = "ngForm" (ngSubmit) = "onSubmit(param.value)">
      <div class="form-group">
        <label style="margin-right: 14px;"  for="abbat">Abattement</label>
        <input style="margin-right: 14px;"
          type="number" class="form-control" id="abbat" required [(ngModel)]="parametrage.abattement" name="abattement">
      </div>
      <div class="form-group">
        <label  style="margin-right: 14px;" for="taux">Taux l'IS</label>
        <input type="number" class="form-control" id="taux" required [(ngModel)]="parametrage.tauxIS" name="tauxIS">
      </div>
      <div class="form-group">
        <label style="margin-right: 14px;"  for="centre">centre fiscal</label>

        <select  class="form-control" [(ngModel)]="parametrage.centre.codeBur" name="codeBur" id="centre">
          <option *ngFor="let item of centresFiscaux"
                  [value]="item.codeBur"  [selected]="item.codeBur === parametrage.centre.codeBur" >
                      {{item.nomCF}}
          </option>
        </select>

      </div>
      <button type="submit" class="btn btn-success"><i class=""></i>Effectuer</button>
    </form>
  </div>
</div>

