<app-header></app-header>
<div class="container" style="margin-top: 50px;">
<div *ngIf="!isClickedAssocie">
  <div class="card shadow-lg" *ngIf="option">
    <div class="card-header">
      <H1>Baremes</H1>
    </div>
    <div class="card-body">
      <table class="table  table-condensed table-striped table-bordered table-hover ">
        <thead>
        <tr>

          <td>nom</td>
          <td>Abbreviation</td>
          <td>Etat</td>
          <td>action</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bareme of listeBaremes">

          <td>{{bareme.nom}}</td>
          <td>{{bareme.abbrev}}</td>
          <td *ngIf="bareme.enabled">
            Activer
          </td>
          <td *ngIf="!bareme.enabled">
            Desactiver
          </td>
          <td>
            <button style="margin-right: 4px;"
                    (click)="editBarem(bareme.id)"  class="btn btn-warning "
                    data-toggle="tooltip" data-placement="left" title="Modifier" ><i class="fa fa-edit"></i></button>
            <button (click)="isEnabled(bareme.id,bareme.enabled)" data-toggle="tooltip" data-placement="left"
                    title="Activer"
                    *ngIf="bareme.enabled" style="margin-right: 4px;" class="btn btn-warning "><i class="fa fa-power-off"></i> </button>
            <button (click)="isEnabled(bareme.id,bareme.enabled)" data-toggle="tooltip" data-placement="left"
                    title="desactiver"
                    *ngIf="!bareme.enabled" class="btn btn-warning "><i class="fa fa-lightbulb"></i> </button>
            <button (click)="baremeAssocier(bareme.id)"  style="margin-left: 4px;"
                    class="btn btn-warning " data-toggle="tooltip" data-placement="left"
                    title="caracteristique associer"><i class="fa fa-object-group"></i>
            </button>
          </td>
        </tr>

        </tbody>



      </table>

      <button class="btn btn-success" (click)="onNouveau()" ><i class="fa fa-plus"></i>Nouveau</button>
    </div>


  </div>


  <div class="card shadow-lg" *ngIf="!option">
    <div class="card-header">
      <H1>{{addOrEdit}}</H1>
    </div>
    <div class="card-body">
      <div style="margin-top: 10px;">
        <form  #barem="ngForm" (ngSubmit)="onSubmit(barem.value)">
          <div  class="form-group">

            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom"
                   required [(ngModel)]="bareme.nom"  name="nom">
          </div>
          <div  class="form-group">
            <label for="abbrev">Abbreviation</label>
            <input type="text" class="form-control" id="abbrev"
                   required [(ngModel)]="bareme.abbrev"   name="abbrev">
          </div>




          <input type="hidden" class="form-control" id="id" required [(ngModel)]="bareme.id"  name="id">
          <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>
            Effectuer</button>
        </form>
      </div>
    </div>
  </div>
</div>

  <!--traitement bareme caracteristique  -->
<div *ngIf="isClickedAssocie">
  <div class="card shadow-lg">
        <div class="card-header"><h2>Liste Caracteristiques asocier {{bareme.nom}}  </h2></div>
        <div class="card-body">

          <table class="table  table-condensed table-striped table-bordered table-hover ">
            <thead>
            <tr>

              <td>Nom</td>
              <td>Abbreviation</td>
              <td>Type</td>
              <td>Ordre</td>
              <td>action</td>
            </tr>
            </thead>
            <tbody >
            <tr *ngFor="let carac of baremeAssocie">

              <td>{{carac.caracteristique.nom}}</td>
              <td>{{carac.caracteristique.abbrev}}  </td>
              <td >
                {{carac.caracteristique.type}}
              </td>
              <td >
                 {{carac.ordre}}
              </td>

              <td>
                <button   style="margin-left: 4px;"
                          class="btn btn-warning " data-toggle="tooltip" data-placement="left"
                          title="Gerer les valeurs"><i class="fa fa-cogs"></i>
                </button>
                <button   style="margin-left: 4px;"
                          (click)="deleteBaremCarac(bareme.id,carac.caracteristique.id)"
                          class="btn btn-warning " data-toggle="tooltip" data-placement="right"
                          title="Supprimer "><i class="fa fa-trash-restore"></i>
                </button>
              </td>
            </tr>
            </tbody>

          </table>
          <button class="btn btn-success" onclick="document.getElementById('id01').style.display='block'"
                  (click)="onNewBaremCarac(bareme.id)" ><i class="fa fa-plus"></i>Nouveau</button>
          <button style="margin-left: 4px;" class="btn btn-success" (click)="isClickedAssocie=false" ><i class="fa fa-angle-left"></i>Retour</button>
        </div>


    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-animate-left w3-animate-opacity">
        <header class="w3-container w3-teal">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
          <h2>Ajouter</h2>
        </header>
        <div class="w3-container">
          <form action="">
            <span *ngFor="let caractNotBin of baremeAssocie.caracteristique">
              <button  onclick="document.getElementById('id01').style.display='none'"
                (click)="createbaremCarac(caractNotBin.id,bareme.id)"  style="margin-right: 9px;"
                       class="btn btn-warning w3-margin-top w3-margin-bottom">{{caractNotBin.nom}}
              </button>
            </span>
          </form>
        </div>

      </div>
    </div>


  </div>

</div>
</div>

